/* src/components/ClockAndTimer.css */
.clockAndTimer {
  text-align: center;
  background: radial-gradient(circle, #3a1c6c, #0a0a0a);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  color: #f5f5f5;
  max-width: 450px;
  margin: 9% auto  ;
  position: relative;
  overflow: hidden;
}

.clockAndTimer::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1), transparent);
  transform: translate(-50%, -50%);
  z-index: 0;
  animation: pulse 10s infinite;
}

.header h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: #ffcc00;
  position: relative;
  z-index: 1;
}

.clock p, .timer p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  z-index: 1;
}

.timer {
  margin-top: 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

.btn {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  z-index: 1;
  background: linear-gradient(45deg, #ff4081, #ffdd00);
}

.start-btn {
  background: linear-gradient(45deg, #00e676, #00bcd4);
}

.stop-btn {
  background: linear-gradient(45deg, #ff1744, #c51162);
}

.reset-btn {
  background: linear-gradient(45deg, #ff9800, #f57f17);
}

.btn:hover {
  transform: scale(1.1);
}

.textH2-clock{
  color: white;
}
.btn:active {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 0.1;
  }
}
